:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}
h2{
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
	word-break: break-all;
}
/* navbar */
#desktop-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
#desktop-nav ul li {
	display: inline-block;
	width: 100px;
	padding: 20px 0;
	text-align: center;
	
}
#desktop-nav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
#desktop-nav ul li a:hover {
	color: #ec489a55;;
}
#desktop-nav ul li.active a {
	color: #ec489a95;;
}
/* navbar end */

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--yellow);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}
.header-1{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border-radius: 20px;
}
.header-1 div img{
  width: 40% ;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: .5rem;
	word-break: break-all;
}


.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
	word-break: break-all;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	
	
}

.task .content {
	flex: 1 1 0% ;
	
}

.task .content .text {
	color: var(--light);
	font-size: 0.825rem;
    width: 100%;
	display: inline-block;
	transition: 0.4s;
}
.task .content .text:not(:read-only) {
	color: var(--pink);

}

.task .actions {

	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}
#video{
	margin-bottom: 30px;
}
/* image upload */
#dropBox {
	min-width: 400px;
	width: 100%;
	height: 300px;
	border: 3px dashed black;
	text-align: center;
	background: lightgrey;
	padding: 3em;
	margin: auto;
}
#dropBox.hover {
  border-color: darkslateblue;
  background: aliceblue;
}
.button {
	display: inline-block;
	padding: .5em 1em;
	background: black;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid darkslateblue;
	color: #fff;
	transition: .4s;
}
.button:hover {
	background: darkslateblue;
}
#imgUpload {
	display: none;
}
#gallery {
	text-align: center;
	margin-top: 1.5em;
}
#gallery div {
	display: inline-block;
	margin: .5em 1em;
}
#gallery img {
	max-height: 150px;
}
#gallery .fName,
#gallery .fSize {
	display: block;
}
#gallery .fName {
	color: brown;
}
#gallery .fSize {
	font-size: .8em;
}
#gallery .fType {
	font-size: .7em;
}
/* sticky header
.header-3 {
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
  }
  
  .content {
	padding: 16px;
  }
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 102px;
  } */